---
import Layout from '../layouts/Layout.astro';
import LoginCard from '../components/Inicio.jsx';
import BackgroundWithLogo from '../components/Fondo.jsx';


---

<Layout title="Welcome to Astro.">
	<div class="containerLogin">
	  <BackgroundWithLogo client:only="react"  />
      <LoginCard client:only="react" />

	</div>
  </Layout>
  
<style>
.containerLogin {
    min-height: 100vh;
    background: #2563eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>
