---
import Layout from '../layouts/Layout.astro';
import LoginSliderContainer from '../components/LogoHidden.jsx';

---

<Layout title="Welcome to Astro.">
  <div class="containerLogin">
    <LoginSliderContainer client:only="react" />
  </div>
</Layout>

<style>
.containerLogin {
    min-height: 100vh;
    background: #2563eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
</style>
