---
import Layout from '../layouts/Layout.astro';
import RegisterUser from "../components/RegisterUser.jsx";
import BackgroundWithLogo from "../components/Fondo.jsx";
---

<Layout title="Welcome to Astro.">
  <div class="containerLogin">
    <BackgroundWithLogo
    $width="100%"
    $height="131px"
    $svgWidth="112px"
    $svgHeight="61px"
    $image="/img/LogoFondoSmall.png"
    client:only="react"
  />
  <RegisterUser client:only="react" />
</div>
</Layout>


<style>
.containerLogin {
  min-height: 100vh;
  background: #2563eb;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media  ( width < 990px){
  .containerLogin{
  flex-direction:column ;
  }
}


</style>